@import "_oa";

.new_boxs {
  display: inline-block;
  width: 100%;
  padding: 40px 20px 80px 20px;

  @include range-width(0, 450px) {
   padding: 40px 20px 80px 20px;
  }

  .new_box {
    display: inline-block;
    width: 100%;
    max-width: 1110px;
    // padding: 55px 20px 50px 20px;

    @include range-width(0, 450px) {
      max-width: none;
    }

    .video_boxs {
      display: inline-block;
      width: calc(50% - 60px / 3);
      float: left;

      @include range-width(0, 450px) {
        width: 100%;
      }
      
      &:nth-child(1) {
        margin-right: 20px;

        @include range-width(0, 450px) {
          margin-right: 0;
        }
      }

      &:nth-child(2) {
        margin-left: 20px;

        @include range-width(0, 450px) {
          margin-left: 0;
          margin-top: 40px;
        }
      }
    }
  }
}

// type
.p_title {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #5a5a5a;
  line-height: 40px;
}

.pink_bar {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #ae3889;
  margin-bottom: 40px;
}

.pp_name {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #410084;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 0 20px 0;
}








body {
  position: relative;
  height: 100%;
}

// body {
//   background: #eee;
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//   font-size: 14px;
//   color: #000;
//   margin: 0;
//   padding: 0;
// }

.swiper-container {
  width: 100%;
  // height: 100%;
  height: 350px;

  @include range-width(0, 450px) {
    height: 235px;
  }
}

.swiper-wrapper {
  height: 300px !important;

  @include range-width(0, 450px) {
    height: 200px !important;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-next,.swiper-button-prev {
    margin-top: calc(-1 * 100px / 2) !important;

    @include range-width(0, 450px) {
      margin-top: calc(-1 * 75px / 2) !important;
    }
}

.swiper-pagination-bullet {
  float: left;

  @include range-width(0, 450px) {
    float: none;
  }
}

.swiper-pagination-bullet-active {
  background-color: #b62085 !important;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff  !important;
}

.vbc {
  display: inline-block;
  width: 100%;
  position: relative;
  outline: 0;

  .vt {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: left;
    padding: 8px 0 0 8px;
    text-shadow: black 0.1em 0.1em 0.2em;

    @include range-width(0, 450px) {
      font-size: 1rem;
    }
  }

  img {
    display: inline-block;
    width: 100%;
    max-width: 535px;
  }
}





